services:
  app1:
    build:
      context: .
      dockerfile: DockerFile
    container_name: hatyai-api-1
    expose:
      - "3000"
    depends_on:
      - redis
    environment:
      REDIS_ADDR: redis:6379
    restart: unless-stopped

  app2:
    build:
      context: .
      dockerfile: DockerFile
    container_name: hatyai-api-2
    expose:
      - "3000"
    depends_on:
      - redis
    environment:
      REDIS_ADDR: redis:6379
    restart: unless-stopped

  redis:
    image: redis:8.4-bookworm
    container_name: hatyai-redis
    ports:
      - "6379:6379"
    restart: unless-stopped

  nginx:
    image: nginx:1.25
    container_name: hatyai-nginx
    depends_on:
      - app1
      - app2
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "80:80"
    restart: unless-stopped
